body{
  background-color:bisque ;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}
h5 {
    padding-left: 100px;
}

hr {
  height: 2px;
  background-color: #a8dba8;
  border-color:  #0b486b;
}
